.slot-selection {
    padding: 16px;
    cursor: pointer;

    &:hover {
        background-color: #F2F2F7;
    }
}

mat-card {
    color: #424242;
}

mat-card-title {
    font-size: 18px;
    margin: 0;
}

mat-card {
    padding: 0;
}

.calendar-container {
    max-width: 300px;
    width: 100%;
}