<h1 class="selection-heading">Select date and time</h1>
<div fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="20px">
    <div class="calendar-container">
      <mat-calendar [selected]="selectedDate" 
        (selectedChange)="onDateSelected($event)"
        [dateFilter]="dateFilter">
      </mat-calendar>
    </div>
    <mat-card *ngIf="selectedDateSlots?.length" class="selection-card mat-elevation-z2">
      <div *ngFor="let slot of selectedDateSlots; let i = index; last as isLast;"
        (click)="onSelected(slot)">
          <div class="slot-selection"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            matRipple>
              <mat-card-title>
              {{ slot.start_time | date:'h:mm a' }}
              </mat-card-title>
              <mat-icon>arrow_forward_ios</mat-icon>
          </div>
          <mat-divider *ngIf="!isLast"></mat-divider>
      </div>
    </mat-card>
    <div *ngIf="!selectedDateSlots?.length">
      Select a day to view available appointment times.
    </div>
</div>
