<h1 class="selection-heading">Select staff</h1>

<mat-card class="selection-card mat-elevation-z2">
  <div (click)="onSelected('any')">
     <div class="staff-selection"
        fxLayout="row"
        fxLayoutAlign=" center"
        fxLayoutGap="10px"
        matRipple>
        <div class="first-available-container">
           <span class="material-icons-outlined">groups</span>
        </div>
       <mat-card-title>First available</mat-card-title>
       <span fxFlex></span>
       <mat-icon>arrow_forward_ios</mat-icon>
     </div>
     <mat-divider></mat-divider>
  </div>

  <div *ngFor="let employee of employees; last as isLast;" (click)="onSelected(employee.id)">
     <div 
        class="staff-selection"
        fxLayout="row"
        fxLayoutAlign=" center"
        fxLayoutGap="10px"
        matRipple>
        <div>
          <div class="employee-avatar">{{ employee.initials }}</div>
        </div>
         <mat-card-title>{{ employee.name }}</mat-card-title>
         <span fxFlex></span>
         <mat-icon>arrow_forward_ios</mat-icon>
     </div>
     <mat-divider *ngIf="!isLast"></mat-divider>
  </div>
</mat-card>

