@import '../../../shared';

// span.material-icons-outlined {
//     transform: scale(1.5);
// }

mat-card {
    padding: 0;
    margin: 0 auto;
}

mat-card-title {
    @include card-title-selection-list;
}

.staff-selection {
    padding: 16px;
    cursor: pointer;

    &:hover {
        background-color: #F2F2F7;
    }
}

$color-light-blue: rgb(198, 198, 228);

.employee-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: darken($color-light-blue, 60%);
    background: rgb(198, 198, 228);

    font-size: 15px;
    width: 40px;
    height: 40px;

    @media (min-width: 600px) {
        font-size: 25px;
        width: 55px;
        height: 55px;
    }
}

.staff-selection-card {
    max-width: 470px;
}

.first-available-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;

    span {
        margin-left: -22px;
        transform: scale(1.3);

        @media (min-width: 600px) {
            transform: scale(1.5);
        }
    }
}