<div [class.fake-mat-card]="isNotMobile">

<form #authForm="ngForm" (ngSubmit)="this.onSubmit()" novalidate>
    <div *ngIf="!this.isLoginView && !this.isEmailSignupView" fxLayout="column" fxLayoutGap="16px">
        <button type="reset" mat-stroked-button (click)="this.continueWithGoogle()">
            <mat-icon fxFlexAlign="center" svgIcon="google"></mat-icon>
            <span fxFlex>Continue with Google</span> 
        </button>
        <button type="reset" class="btn-facebook" mat-stroked-button (click)="this.continueWithFacebook()">
            <mat-icon fxFlexAlign="center" svgIcon="facebook"></mat-icon>
            <span fxFlex>Continue with Facebook</span> 
        </button>
    </div> 

    <div *ngIf="!this.isLoginView && !this.isEmailSignupView" class="mat-caption or-line"><span>Or</span></div>

    <div *ngIf="!this.isLoginView && !this.isEmailSignupView" fxLayout="column" fxLayoutGap="12px">
        <button mat-flat-button type="reset" color="accent" (click)="this.toggleEmailSignup()">
            <mat-icon fxFlexAlign="center">email</mat-icon>
            <span fxFlex>Sign up with email</span> 
        </button>
    </div> 

    <div fxLayout="column">
        <mat-form-field *ngIf="this.isEmailSignupView" fxFlex hideRequiredMarker>
            <mat-label>First name</mat-label>
            <input type="text" 
                [(ngModel)]="this.first_name" 
                name="firstNameField" 
                #firstNameField="ngModel"
                [required]="!this.isLoginView" 
                matInput>
            <mat-icon class="input-icon" matPrefix>person</mat-icon>
            <mat-error *ngIf="firstNameField.hasError('required')">First name is required.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="this.isEmailSignupView" fxFlex hideRequiredMarker>
            <mat-label>Last name</mat-label>
            <input type="text" 
                [(ngModel)]="this.last_name" 
                name="lastNameField" 
                #lastNameField="ngModel" 
                [required]="!this.isLoginView" 
                matInput>
            <mat-icon class="input-icon" matPrefix>person</mat-icon>
            <mat-error *ngIf="lastNameField.hasError('required')">Last name is required.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="this.isEmailSignupView || this.isLoginView" fxFlex hideRequiredMarker>
            <mat-label>Email</mat-label>
            <input type="email" 
                [(ngModel)]="email"
                name="emailField"
                #emailField="ngModel" 
                email
                required
                matInput>
            <mat-icon class="input-icon" matPrefix>email</mat-icon>
            <mat-error *ngIf="emailField.hasError('email')">Invalid email format.</mat-error>
            <mat-error *ngIf="emailField.hasError('required')">Email is required.</mat-error>
        </mat-form-field>

        <!-- <mat-form-field *ngIf="this.isEmailSignupView" fxFlex>
            <mat-label>Phone</mat-label>
            <input type="text"
                [(ngModel)]="this.phone"
                name="phoneField"
                mask="(000) 000-0000"
                matInput>
            <mat-icon class="input-icon" matPrefix>phone</mat-icon>
        </mat-form-field> -->

        <mat-form-field *ngIf="this.isEmailSignupView || this.isLoginView" fxFlex hideRequiredMarker>
            <mat-label>Password</mat-label>
            <input type="password" 
                [(ngModel)]="this.password"
                name="passwordField"
                #passwordField="ngModel" 
                required
                matInput>
            <mat-icon class="input-icon" matPrefix>lock</mat-icon>
            <mat-error *ngIf="passwordField.hasError('required')">Password is required.</mat-error>
        </mat-form-field>

        <div *ngIf="this.isLoginView" fxLayout="row" fxLayoutAlign="end">
            <span class="fake-link forgot-password-link">Forgot your password?</span>
        </div>
    </div>

    <div class="action-row" fxLayout="column" fxLayoutGap="12px">
        <button mat-flat-button 
            *ngIf="this.isEmailSignupView"
            type="submit" 
            color="accent"
            [disabled]="this.loading">
            Create an account
        </button>

        <button mat-flat-button 
            *ngIf="this.isLoginView"
            type="submit" 
            color="accent"
            [disabled]="this.loading">
            Sign in
        </button>
        <div *ngIf="!this.isLoginView" fxLayout="row" fxLayoutAlign="center">
            <span>Already have an account?&nbsp;</span>
            <span class="fake-link" (click)="this.toggleLogin()">Sign in</span>
        </div>

        <div *ngIf="this.isLoginView" fxLayout="row" fxLayoutAlign="center">
            <span>Don't have an account?&nbsp;</span>
            <span class="fake-link" (click)="this.toggleEmailSignup()">Register</span>
        </div>
    </div>  
</form>
</div>
