form {
    max-width: 450px;
    margin: 0 auto;
}

div.mat-caption {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid lighten(gray, 25%); 
    line-height: 0.1em;
} 
 
div.mat-caption span { 
    background:#fff; 
    padding:0 10px; 
    color: gray;
}