.service-item {
    cursor: pointer;
    padding: 24px 16px 16px;
}

.mat-icon {
    transform: scale(1.7);
}

mat-card-title {
    font-size: 20px;
}

.service-selection-card {
    max-width: 470px;
    // margin: 0 auto;
}
