@import '../../../shared';

:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-item {
    cursor: pointer;
    padding: 15px 0;

    @media (min-width: 600px) {
        padding: 20px 15px 15px;
    }

}

.mat-icon {
    transform: scale(1.2);

    @media (min-width: 600px) {
        transform: scale(1.4);
    }
}

mat-card {
    padding-top: 0;
    padding-bottom: 0;
}

mat-card-title {
    @include card-title-selection-list;
    margin-bottom: 3px;
}

mat-card-subtitle {
    margin: 0;
}

mat-progress-spinner {
    margin-top: 50px;
}

