@import '../../../shared';

mat-card {
    margin: 0 auto;
}

.service-item {
    cursor: pointer;
    // padding: 24px 16px 16px;
    padding: 30px 20px 20px;
}

.mat-icon {
    transform: scale(1.7);
}

mat-card-title {
    @include card-title-selection-list;
    margin-bottom: 3px;
}

mat-card-subtitle {
    margin: 0;
}

.service-selection-card {
    max-width: 470px;
}
