<div class="app-toolbar" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="row" fxLayoutAlign=" center">
      <h1 class="brand-logo">Simple Barber</h1>
      <span fxFlex></span>
      <button mat-stroked-button [matMenuTriggerFor]="optionsMenu">Menu</button>
      <mat-menu #optionsMenu yPosition="below">
        <button  [routerLink]="['login']" mat-menu-item *ngIf="!this.appState.isLoggedIn">
          <mat-icon mat-list-icon>login</mat-icon>
          <span>Login</span> 
        </button>
        <button [routerLink]="['bookings']" mat-menu-item *ngIf="this.appState.isLoggedIn">
          <mat-icon mat-list-icon>event</mat-icon>
          <span>Bookings</span> 
        </button>
        <button mat-menu-item (click)="this.contactDialog.open()">
          <mat-icon mat-list-icon>contact_support</mat-icon>
          <span>Contact</span> 
        </button>
        <button mat-menu-item (click)="this.onLogout()" *ngIf="this.appState.isLoggedIn">
          <mat-icon mat-list-icon>logout</mat-icon>
          <span>Logout</span> 
        </button>
      </mat-menu>
    </div>
</div>
<router-outlet></router-outlet>
