<mat-form-field color="accent" appearance="outline">
    <mat-label>Choose appointment date</mat-label>
    <input matInput 
           [matDatepickerFilter]="dateFilter" 
           [formControl]="selectedDate" 
           [matDatepicker]="picker1"
           (dateChange)="onDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>


  <div *ngFor="let slot of selectedDatesSlots">
      <span>{{ slot.start_time }}</span>
      <span>----</span>
      <span>{{ slot.id }}</span>
  </div>
