<!-- NOT LOGGED IN -->
<h1 class="selection-heading" *ngIf="!appState.isLoggedIn && !isBookingConfirmed">Sign in to continue</h1>
<app-login *ngIf="!appState.isLoggedIn"></app-login>
<!-- NOT LOGGED IN -->

<div class="confirmation-email-sent" *ngIf="isBookingConfirmed && appState.isLoggedIn" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="selection-heading">Thank you!</h1>
    <mat-icon>check_circle</mat-icon>
    <p>Your booking was successfully created.  You will receieve a confirmation email shortly.  If you dont see our email, check your spam folder.</p>
</div>

<!-- LOGGED IN -->
<h1 class="selection-heading" *ngIf="appState.isLoggedIn && !isBookingConfirmed">Confirm and book</h1>
<mat-card class="selection-card mat-elevation-z2" 
    fxLayout="column" 
    fxLayoutGap="12px"
    *ngIf="appState.isLoggedIn">

    <div fxLayout="column">
      <h4 class="mat-h4">Location</h4>
      <p>{{ company.name }} - {{ company.full_address }}</p>
    </div>

    <div fxLayout="column">
      <h4 class="mat-h4">Barber</h4>
      <p>{{ employee.first_name }}</p>
    </div>

    <div fxLayout="column">
      <h4 class="mat-h4">Scheduled For</h4>
      <p>
        {{ slot.start_time | date:'EEEE, MMMM d, h:mm a' }} - 
        {{ bookingEndTime | date:'h:mm a' }}
      </p>
    </div>

    <div fxLayout="row">
        <mat-divider></mat-divider>
    </div>

    <h4 class="mat-h4">Services</h4>
    <div fxLayout="column" *ngFor="let service of services" >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="service-heading">{{ service.name }}</p>
        <p class="service-heading">{{ (service.price / 100) | currency:'$':true:'1.0-2' }}</p>
      </div>
      <p>{{ service.duration | appDuration }}</p>
    </div>

    <div fxLayout="row">
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="column" >
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h4 class="mat-h4">Tax</h4>
            <h4 class="mat-h4">{{ (tax / 100) | currency:'$':true:'1.2-2' }}</h4>
        </div>
    </div>

    <div fxLayout="row">
        <mat-divider></mat-divider>
    </div>

    <div class="total-row" fxLayout="row" fxLayoutAlign="space-between center">
        <h4 class="mat-h4">Total</h4>
        <h4 class="mat-h4">{{ (bookingTotal / 100) | currency:'$':true:'1.2-2' }}</h4>
    </div>
</mat-card>

<mat-card class="selection-card mat-elevation-z2" 
    fxLayout="column" 
    fxLayoutGap="12px"
    *ngIf="appState.isLoggedIn &&!isBookingConfirmed">
    <div fxLayout="column">
        <h4 class="mat-h4">Booking Notes</h4>
        <p>Include anything your barber should know about this booking</p>
    </div>
    <mat-form-field fxFlex hideRequiredMarker>
      <textarea name="bookingNote"
        [(ngModel)]="booking.note.body"
        #bookingNote="ngModel"
        matInput>
      </textarea>
  </mat-form-field>
</mat-card>

<div class="button-container" fxLayout="row" fxLayoutAlign="center">
    <button mat-flat-button 
        fxFlex
        *ngIf="appState.isLoggedIn && !isBookingConfirmed"
        color="accent" 
        (click)="this.createBooking()"
        [disabled]="appState.isLoading">
        Book
    </button>
</div>
<!-- LOGGED IN -->
