.slot-selection {
    padding: 16px;
    cursor: pointer;

    &:hover {
        background-color: #F2F2F7;
    }
}

mat-card {
    color: #424242;
    margin-bottom: 100px;
}

mat-card-title {
    font-size: 18px;
    margin: 0;
}

mat-card {
    padding: 0;
}

.calendar-container {
    max-width: 280px;
    width: 100%;
    margin-bottom: 0;
}

.no-slots-available-icon {
    color: #424242;
    font-size: 50px;
    height: 50px;
    width: 50px;
}
