<mat-card class="selection-card mat-elevation-z2">
    <div fxFlex fxLayout="column">
        <div class="pill" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="4px">
            <mat-icon>check_circle</mat-icon>                            
            <span>Scheduled</span> 
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap="8px">
            <div>
                <mat-card-title>29 March 2022, 10:00am</mat-card-title>
                <mat-card-subtitle>Tracy's Barber Shop</mat-card-subtitle>
            </div>
            <div>
                <mat-card-subtitle class="services">Hair cut</mat-card-subtitle>
                <mat-card-subtitle>30 min</mat-card-subtitle>
            </div>
            <div>
                <mat-divider></mat-divider>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-title>Total: CA $33.50</mat-card-title>
                <button mat-stroked-button color="warn" (click)="this.onCancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</mat-card>
