// #booking-stepper .mat-horizontal-stepper-content,
// mat-horizontal-stepper#booking-stepper div.mat-horizontal-content-container {
//     height: 100%;
// }

.mat-horizontal-content-container{
    height: 100%;
  }
  .mat-horizontal-stepper-content{
    height: 100%;
    display: flex;
  }

.mat-tab-list  {
    height: 300px;
}

.stepper-container {
    height: 100%;
    position: relative;    
}

// If we absolutely need to use this to make step header fixed...
::ng-deep .mat-horizontal-stepper-header-container {
    background-color: white;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; 
    z-index: 1000; 
    margin-bottom: 10px;
}

mat-progress-bar {
    position: absolute;
    top: 0; 
    z-index: 1000; 
}

.next-button-container {
    padding: 8px 16px;
    max-width: 450px;
    width: 100%;

    button {
        width: 100%;
    }
}

h1 {
    margin-bottom: 40px;
}
