// :host {
//     position: relative;
// }
.mat-horizontal-stepper-content{
    // height: 100%;
    // display: flex;
}

.mat-tab-list  {
    height: 300px;
}

.stepper-container {
    margin: 0 auto;
    max-width: 1200px;
    // height: calc(100% - 50px);
    // position: relative;    
}

// If we absolutely need to use this to make step header fixed...
::ng-deep .mat-horizontal-stepper-header-container {
    background-color: white;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    // top: 0; 
    top: 50px; 
    z-index: 1000; 
    margin-bottom: 10px;
}

mat-progress-bar {
    // position: fixed;
    // top: 0; 
    // z-index: 1000; 
    position: absolute;
    top: 50px; 
    z-index: 1002; 
}

.action-button-container {
    max-width: 450px;
    width: 100%;
    margin-top: 30px;

    button {
        width: 100%;
    }
}

.mat-step-header--hidden {
    visibility: hidden;
}

div.app-toolbar {
    border-bottom: 1px solid #E0E0E0;
    height: 50px; 
    position: sticky; 
    padding: 0 16px;
    top: 0; 
    background-color: #fff; 
    z-index: 100;
}

div.app-toolbar > div {
    max-width: 1200px;
}
  