<div class="stepper-container">
<mat-horizontal-stepper #stepper [linear]="true" labelPosition="bottom">
  <!-- STEP 1 START -->
    <mat-step 
       state="phone"
       [completed]="!!selectedServices?.length">
          <app-service-selection 
             class="step-component"
             [serviceDefinitions]="serviceDefinitions" 
             (selected)="onServiceSelected()">
          </app-service-selection>

          <button 
             mat-raised-button 
             color="primary" 
             matStepperNext
             [disabled]="!selectedServices || !selectedServices.length">
            Next
         </button>
    </mat-step>
  <!-- STEP 1 END -->

  <!-- STEP 2 START -->
    <mat-step  
       fxLayout="row"
       fxLayoutAlign="center center"
       state="person"
       [completed]="!!selectedEmployee">
          <app-staff-selection
             [employees]="employees"
             (selected)="onStaffSelected($event)">
          </app-staff-selection>
    </mat-step>
    <!-- STEP 2 END -->

    <!-- STEP 3 START -->
    <mat-step state="today">
      <app-slot-selection
         [days]="days"
         [slots]="groupedSlots"
         (selected)="onSlotSelected($event)">
      </app-slot-selection>

    </mat-step>
    <!-- STEP 3 END -->

    <!-- STEP 4 START -->
    <mat-step>
      <app-booking-confirmation
        [slot]="selectedSlot"
        [services]="selectedServices">

      </app-booking-confirmation>
    </mat-step>
    <!-- STEP 4 END -->
  
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <!-- TODO: make a little bottom status bar type thing maybe -->
</div>