<!-- NOT LOGGED IN -->
<h1 class="selection-heading" *ngIf="!appState.isLoggedIn && !isBookingConfirmed">Sign in to continue</h1>
<app-login *ngIf="!appState.isLoggedIn"></app-login>
<!-- NOT LOGGED IN -->

<div class="confirmation-email-sent" *ngIf="isBookingConfirmed && appState.isLoggedIn" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="selection-heading">Thank you!</h1>
    <mat-icon>check_circle</mat-icon>
    <p>Your booking was successfully created.  You will receieve a confirmation email shortly.  If you dont see our email, check your spam folder.</p>
</div>

<!-- LOGGED IN -->
<h1 class="selection-heading" *ngIf="appState.isLoggedIn && !isBookingConfirmed">Confirm and book</h1>
<mat-card class="selection-card mat-elevation-z2" 
    fxLayout="column" 
    fxLayoutGap="12px"
    *ngIf="appState.isLoggedIn">

    <div fxLayout="column">
        <h2 class="mat-title">{{ company.name }}</h2>
        <p>{{ company.full_address }}</p>
    </div>

    <div fxLayout="column">
        <h2 class="mat-title">{{ employee.first_name }}</h2>
        <p>
            {{ slot.start_time | date:'EEEE, MMMM d, h:mm a' }} - 
            {{ bookingEndTime | date:'h:mm a' }}
        </p>
    </div>

    <div fxLayout="row">
        <mat-divider></mat-divider>
    </div>
    
    <div fxLayout="column" *ngFor="let service of services">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2>{{ service.name }}</h2>
            <h2>{{ (service.price / 100) | currency:'CA $':true:'1.0-2' }}</h2>
        </div>
        <p>{{ service.duration | appDuration }}</p>
    </div>

    <div fxLayout="row">
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="column" >
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Tax</h2>
            <h2>{{ (tax / 100) | currency:'CA $':true:'1.2-2' }}</h2>
        </div>
    </div>

    <div fxLayout="row">
        <mat-divider></mat-divider>
    </div>

    <div class="total-row" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Total</h1>
        <h1>{{ (bookingTotal / 100) | currency:'CA $':true:'1.2-2' }}</h1>
    </div>
</mat-card>

<div class="button-container" fxLayout="row" fxLayoutAlign="center">
    <button mat-flat-button 
        fxFlex
        *ngIf="appState.isLoggedIn && !isBookingConfirmed"
        color="accent" 
        (click)="this.createBooking()"
        [disabled]="appState.loading">
        Book
    </button>
</div>
<!-- LOGGED IN -->
