.summary-container {
    max-width: 450px;
    margin: 0 auto;
}

.confirmation-title {
    margin-bottom: 48px;
}

h2,
p {
    margin-top: -3px;
    margin-bottom: 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}